.cards {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 414px;
  min-height: 800px;
  // width: 100%;
  padding: 1rem;
}

.wallet {
  padding: 0 auto;
}

.active-card {
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: rgba(34, 34, 34, 0.6);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
