.addButton {
  width: 382px;
  height: 72px;
  top: 808px;
  left: 16px;
  border-radius: 8px;
  font-family: "PT Mono", monospace;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  cursor: pointer;
}
