/* .defaultPage {
  background-color: #ffffff;

  max-width: 414px;
 
  width: 100%;
  
} */

.defaultPage {
  background-color: #ffffff;
  padding: 1rem;
  max-width: 414px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
