/* Återanvändbara stilblock. */ 

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-right {
    display: flex;
    justify-content: right;
    align-items: center;
}


/* För att använda grid-area i koden, skriv in värdet vi vill att den ska producera. Exempelvis: .container { @include grid-columns(3); } så skulle den ju producera 3 kolumner. T.EX! 